@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

/*====  RESET ============================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/*====  VARIABLES ============================ */
:root {
  /* colors */

  --body-color: hsla(0, 0%, 96%, 1);
  --base-color-second: hsla(215, 83%, 95%, 1);
  --texto-color: hsla(0, 0%, 27%, 1);
  --button-color: hsla(214, 77%, 53%, 1);
  --button-color-light: hsla(214, 77%, 62%, 1);
  --button-color-2light: hsla(215, 79%, 91%, 1);

  /* fonts */
  --title-font-size: 3.25rem;
  --menu-font-size: 1rem;
  --paragrafo-font-size: 1.5rem;

  --title-font: 'Raleway', sans-serif;
}

/*====  LAYOUT ====== */
html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;

  background: var(--body-color);
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  box-sizing: border-box;
  width: 100%;
  max-width: 1920px;
  height: 4.3rem;
  padding: 0.5rem;
  gap: 1.5rem;
  margin: 1.5rem auto;
}

nav .grid {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 90%;
  padding: 0.5rem;
  margin: 3.5rem;
}

.logo {
  width: 1.8rem;
  height: 1.8rem;
  margin: 0rem 0rem -0.5rem 6rem;
}

a {
  color: var(--texto-color);
  font-family: var(--title-font);
  font-size: var(--menu-font-size);
  font-weight: 500;
}

a:hover,
.logo:hover {
  filter: drop-shadow(0px 4px 4px rgba(85, 149, 233, 1));
}

.name {
  font-weight: 700;
}

.contato {
  font-weight: 700;
}

.perfil {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
  max-width: 1920px;
  height: 32.9rem;
  margin: 5rem 5rem;

  font-family: var(--title-font);
  color: var(--texto-color);
}

.perfil h1 {
  width: 100%;
  font-size: var(--title-font-size);
  padding: 1rem;
}

.perfil p {
  width: 100%;
  font-size: var(--paragrafo-font-size);
  margin-top: -1rem;
  padding: 1rem;
}

.profile {
  position: absolute;
  width: 25rem;
  height: 25rem;
  left: 65%;

  border-radius: 50%;
}

.profile:hover {
  filter: drop-shadow(0px 4px 4px rgba(85, 149, 233, 1));
}

#link {
  width: 100%;
  margin-top: 1rem;
}

.link {
  padding: 1rem 3rem 0rem 0rem;
  margin: 0 1rem;
  font-family: var(--title-font);
  font-size: var(--paragrafo-font-size);
  color: var(--texto-color);
  font-weight: 500;
}

.link:hover {
  filter: drop-shadow(0px 4px 4px rgba(85, 149, 233, 1));
}

.social {
  position: absolute;
  width: 1rem;
  height: 1rem;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

#home {
  display: flex;
  position: absolute;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  height: 18rem;
  margin: 52rem 0rem;

  font-family: var(--title-font);
  font-size: var(--paragrafo-font-size);
  color: var(--texto-color);
  font-weight: 400;
  text-align: justify;
}

#sobre {
  width: 100%;
  height: 32.5rem;
  background: var(--base-color-second);
  padding: 5rem;
}

#sobre p {
  width: 80%;
  text-align: justify;
}
